@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>ミニアンケート</h2>
<p>@Model.ResponseMessage</p>

<form method="post">
    <div>
        名前：<input type="text" asp-for="UserName"/>
    </div>
    <button type="submit" style="margin-top:10px;">送信する</button>
</form>
